.body{
    font-family: 'Times New Roman', Times, serif;
}

#local{
    background-image: url(proyecto2/imagen1.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 600px;
    color:black;
}