.body{
    font-family: 'Times New Roman', Times, serif;
}

.local{
    background: center;
    background-size: cover;
    background-image: url(proyecto2/imagen2.jpg);
    color: darkseagreen;
    position: relative;
    
}