.body{
    font-family: 'Times New Roman', Times, serif;
}

#muestra{
    background-image: url(proyecto2/imagen1.jpg);
    background-size: cover;
    padding-top: 100px;
    min-height: 900px;
    color: blue;
}